<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.search">
    <application
        android:theme="@style/Theme.welcome">
        <activity android:name=".SeachActivity"
            android:exported="true">
        </activity>
    </application>


</manifest>